{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Blog - Homepage</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <h1>It's All About Blogging</h1>
    </header>

    <nav>
        <ul>
            <li><a class="active" href="{% url "home" %}">Home</a></li>
            <li><a href="{% url "blog-about" %}">About</a></li>
            <li><a href="{% url "blog-contact" %}">Contact</a></li>
            <li><a href="{% url 'add-post' %}">Add New Post</a></li>
        


        {% if user.is_authenticated %}
            
            <li><a href="{% url 'login' %}">Logout</a></li>
        {% else %}
            <li><a href="{% url 'login' %}">Login</a></li>
        {% endif %}
    </ul>

    </nav>

    <div class="posts-container">
        {% for post in posts %}
            <div class="post-card">
                <div class="post-image-container">
                    {% if post.image %}
                        <img src="{{ post.image.url }}" alt="{{ post.title }}" class="post-image">
                    {% else %}
                        <div class="no-image">No image available</div>
                    {% endif %}
                </div>
                <div class="post-content">
                    <h2><a href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
                    <p>{{ post.content|truncatewords:20 }}</p>
                    <a href="{% url 'post-detail' post.id %}" class="read-more">Read More</a>
                </div>
            </div>
        {% endfor %}
        {% if messages %}
            {% for message in message %}
                
            {% endfor %}
        {% endif %}
    </div>
</body>
</html>